{% extends "base.html" %}
{% block content %}
{% include "header.html" %}
    <h1> Are you sure you want to delete {{ item.name }}? </h1>
    <br>

    <form action="{{ url_for('deleteMenuItem',restaurant_id = item.restaurant_id, menu_id=item.id) }}" method='post'>

        <button type='submit' class="btn btn-danger"> Delete</button>

    </form>
    <br>

    <a href="{{ url_for('restaurantMenu', restaurant_id = restaurant_id) }}" class="btn btn-primary"> Cancel </a>

{% endblock %}
