<div class = 'container'>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-brand" >
      	<a href="{{ url_for('restaurant1') }}">Show All Restaurants</a>
      </p>
    </div>
    
    <ul class="nav navbar-nav">
      <li class="active"><a href='{{url_for('restaurant1') }}'>Home</a></li>
      {% if 'username' in session %}
      <li><a href='{{url_for('newRestro') }}'>Add Restaurant</a></li>
      {% endif %}
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      <li>
      	{% if 'username' not in session %}
      		<a href="{{url_for('showLogin')}}""><span class="glyphicon glyphicon-log-in "></span> Login</a>
      	{% else %}
      		<a href="{{ url_for('gdisconnect') }}""><span class="glyphicon glyphicon-log-out "></span> Logout</a>
      	{% endif %}
      </li>
      
    </ul>
  </div>
</nav>
</div>
