{% extends "base.html" %}
{% block content %}
{% include 'header.html' %}
    <div class='pane'>
        <div class='header'>
            <h1>{{ restaurant.name }}</h1>
        </div>

        <a href='{{ url_for('newMenuItem', restaurant_id = restaurant.id) }}'>Create New Item</a>


        <div class='flash'>
            {% with messages = get_flashed_messages() %}
                {% if messages %}

                    <ul>
                        {% for message in messages %}
                            <li><strong> {{ message }} </strong></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
        <br>
    
        {% for i in items %}
            <div class="row">
                <div class="col-md-12" style="margin-bottom: 10px">
                    <div style="color: white">

                        <span class='name'>{{ i.name }}</span>
                        <span class='price'>{{ i.price }}</span>
                        <span class='course'>{{ i.course }}</span>
                    </div>
                    <div class="editdeletepane">
                        <a href='{{ url_for('editMenuItem',restaurant_id = restaurant.id, menu_id=i.id) }}'>Edit</a>
                        <a href='{{ url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id=i.id) }}'>Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}






