<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

	</head>
	<body>
	<div class = 'container'>
	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-brand" >Restaurants</p>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href='{{url_for('restaurant1') }}'>Home</a></li>
      <li><a href='{{url_for('newRestro') }}'>Add Restaurant</a></li>
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href='{{url_for('showLogin')}}'><span class="glyphicon glyphicon-log-in "></span> Login</a></li>
    </ul>
  </div>
</nav>
</br>
		<center>
		{% for i in res %}
		<a href='{{url_for('restaurantMenu', restaurant_id=i.id) }}'><h1>{{i.name}}</h1></a>	
		
		</br></br></br>
		{%endfor%}
		</center>
</form>
	</body>
	</html>
