{% extends "base.html" %}
{% block content %}
{% include "header.html" %}

    <div class="container">
        {% for i in restaurant %}
            <a href="{{ url_for('restaurantMenu', restaurant_id = i.id) }}"><h3>{{ i.name }}</h3></a>
            <a href='{{ url_for('editRestro', restaurant_id = i.id) }}' class="btn btn-info">Edit</a>
            <a href='{{ url_for('deleteRestro', restaurant_id = i.id) }}' class="btn btn-danger">Delete</a>
        {% endfor %}
    </div>


{% endblock %}
